<!-- CONTAINER COVER -->
<div class="container-fluid">
    <div class="row">
        <div class="Coverage-blc logo-block">
            <div class="div"><img src="../../assets/icons/Blooraid_Consortium_Logo3.png" alt="logo"></div>
        </div>

        <div class="principal-event">
            <div class="row">
                <div class="blc-top-img">
                    <div class="row">
                        <div class="col-4 top-start"> <button class="btn"> Cyber Prevention Day </button> </div>
                        <div class="col-4 top-center"> <button class="btn"> Palm Club Hotel </button> </div>
                        <div class="col-4 top-end"> <button class="btn"> + Participer </button> </div>
                    </div>
                </div>
                <div class="blc-img"></div>
                <div class="blc-down-img">
                    <div class="row">
                        <div class="down-title">
                            <h6> Cyber Prevention Day </h6>
                            <p> 20 Octobre 2022 -  <span>09h à 13h</span> </p>
                        </div>
                        <div class="down-texts">
                            <div class="row">
                                <div class="col-9 start">
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                        The point of using Lorem Ipsum is that it has.
                                    </p>
                                </div>
                                <div class="col-3 end">
                                    <button class="btn"> Acheter </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ACCORDION BLOC -->
<div class="container accordion-blc">
    <h2> Evènements à la une & Médiathèques </h2>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Évènements à la une
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <swiper [slidesPerView]="3" [spaceBetween]="10" [navigation]="true" class="animate__animated animate__fadeIn">
                        <ng-template swiperSlide>

                        </ng-template>
                        <ng-template swiperSlide>

                        </ng-template>
                        <ng-template swiperSlide>

                        </ng-template>
                        <ng-template swiperSlide>

                        </ng-template>
                        <ng-template swiperSlide>

                        </ng-template>
                        <ng-template swiperSlide>

                        </ng-template>
                        <ng-template swiperSlide>

                        </ng-template>
                        <ng-template swiperSlide>

                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Cyber Prevention Tours
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <swiper [slidesPerView]="3" [spaceBetween]="10" [navigation]="true" class="animate__animated animate__fadeIn">
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-0"> Album 1 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-1"> Album 2 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-2"> Album 3 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-3"> Album 4 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-4"> Album 5 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-5"> Module 5 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-6"> Module 6 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-7"> Module 7 </div>
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Poadcasts & Capsules
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <swiper [slidesPerView]="3" [spaceBetween]="10" [navigation]="true" class="animate__animated animate__fadeIn">
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-0"> Module 0 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-1"> Module 1 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-2"> Module 2 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-3"> Module 3 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-4"> Module 4 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-5"> Module 5 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-6"> Module 6 </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="module-bloc btn-7"> Module 7 </div>
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>

    </div>
</div>