<!-- BLOC 1 -->
<div class="container bloc-1">
    <div class="row">
        <div class="col-6 content content-image"></div>
        <div class="col-6 content content-left">
            <div class="row">
                <div class="logo-block">
                    <div class="div"><img src="../../assets/icons/Blooraid_Consortium_Logo3.png" alt="logo"></div>
                </div>
                <div class="buttons">
                    <button class="btn text1"><h1>Cyber Prevention Tour </h1></button>
                    <button class="btn text2"><h1>Formation De Prévention </h1></button> <br>
                    <button class="btn text3"><h1>De Masse</h1></button>
                </div>
                <div class="texts">
                    <p>
                        On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BLOC 2 -->
<div class="container bloc-2">
    <div class="row">
        <div class="button">
            <button class="btn text1"><h4>CYBER PREVENTION TOURS AU PROGRAMME</h4></button>
        </div>
        <div class="coffrets">
            <swiper [centeredSlides]="true" [spaceBetween]="30" [navigation]="true" [slidesPerView]="2" [loop]="true"  class="animate__animated animate__fadeIn">
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="blc-top-img">
                            <div class="row">
                                <div class="col-6 top-start"> <button class="btn"> Lycée Blaise Pascal </button> </div>
                                <div class="col-6 top-end"> <button class="btn"> + Participer </button> </div>
                            </div>
                        </div>
                        <div class="blc-img"></div>
                        <div class="blc-down-img">
                            <div class="row">
                                <div class="down-title">
                                    <h6> Cyber Prevention Tour ENFANT </h6>
                                    <p> 20 Octobre 2022 -  <span>09h à 13h</span> </p>
                                </div>
                                <div class="down-texts">
                                    <div class="row">
                                        <div class="col-12 start">
                                            <p>
                                                It is a long established fact that a reader will be distracted by the readable a page.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="blc-top-img">
                            <div class="row">
                                <div class="col-6 top-start"> <button class="btn"> Siège Blooraid Consortium </button> </div>
                                <div class="col-6 top-end"> <button class="btn"> + Participer </button> </div>
                            </div>
                        </div>
                        <div class="blc-img blc-img-2"></div>
                        <div class="blc-down-img">
                            <div class="row">
                                <div class="down-title">
                                    <h6> Cyber Prevention Tour INTERNAUTE </h6>
                                    <p> 20 Octobre 2022 -  <span>09h à 13h</span> </p>
                                </div>
                                <div class="down-texts">
                                    <div class="row">
                                        <div class="col-12 start">
                                            <p>
                                                It is a long established fact that a reader will be distracted by the readable a page.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="blc-top-img">
                            <div class="row">
                                <div class="col-6 top-start"> <button class="btn"> Université Agitel Formation </button> </div>
                                <div class="col-6 top-end"> <button class="btn"> + Participer </button> </div>
                            </div>
                        </div>
                        <div class="blc-img blc-img-3"></div>
                        <div class="blc-down-img">
                            <div class="row">
                                <div class="down-title">
                                    <h6> Cyber Prevention Tour INFORMATICIEN </h6>
                                    <p> 20 Octobre 2022 -  <span>09h à 13h</span> </p>
                                </div>
                                <div class="down-texts">
                                    <div class="row">
                                        <div class="col-12 start">
                                            <p>
                                                It is a long established fact that a reader will be distracted by the readable a page.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="blc-top-img">
                            <div class="row">
                                <div class="col-6 top-start"> <button class="btn"> Chambre De Commerce Plateau </button> </div>
                                <div class="col-6 top-end"> <button class="btn"> + Participer </button> </div>
                            </div>
                        </div>
                        <div class="blc-img blc-img-4"></div>
                        <div class="blc-down-img">
                            <div class="row">
                                <div class="down-title">
                                    <h6> Cyber Prevention Tour ECONOMISTE </h6>
                                    <p> 20 Octobre 2022 -  <span>09h à 13h</span> </p>
                                </div>
                                <div class="down-texts">
                                    <div class="row">
                                        <div class="col-12 start">
                                            <p>
                                                It is a long established fact that a reader will be distracted by the readable a page.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>
</div>

<!-- BLOC 3 -->
<div class="container bloc-3">
    <div class="row">
        <div class="button">
            <button class="btn text1"><h4>RECEVEZ LE CYBER PREVENTION TOUR CHEZ VOUS</h4></button>
        </div>
        <div class="coffrets">
            <div class="row">
                <div class="col-12 text">
                    <p>
                        On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions,
                        et empêche de se concentrer sur la mise en page elle-même. Longtemps que lisible.
                    </p>
                </div>
                <div class="col-8 form">
                    <form class="row needs-validation">
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" placeholder="Numero de téléphone" id="validationTooltip01" required/>
                            <div class="invalid-tooltip">
                                Veuillez entrer un email valide
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Mot de passe" id="validationTooltip02" required/>
                            <div class="invalid-tooltip">
                                Veuillez entrer un numero valide
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-auth" routerLink="/profil" type="submit"> Connexion au compte </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
