<!-- CONTAINER COVER -->
<div class="container-fluid">
  <div class="cont-logo">
    <div class="row">



        <div class="col-12 circle-cont">

          <div class="col-12 circle-logo" >
            <div class="row">
              <img src="../../assets/icons/inkpx-curved-text (6).png" class="img1">
              <img src="../../assets/icons/log-removebg-preview.png" class="img">
              <img src="../../assets/icons/inkpx-curved-text (5).png" class="img2">
            </div>
          </div>

        </div>


    </div>
  </div>
</div>

