<div class="container-fluid">
    <div class="row">
        <div class="Coverage-blc logo-block">
            <img src="../../assets/icons/Blooraid_Consortium_Logo3.png" alt="logo">
        </div>
        <div class="Buttons">
            <button class="btn partners"> Nos partenaires </button>
        </div>
        <div class="Swipers">
            <div class="row">
                <!-- SWIPER GERANCE          -->
                <swiper effect="coverflow" [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="3" [coverflowEffect]="{rotate: 0, stretch: 0, depth: 100,
                    modifier: 2, slideShadows: true}" [spaceBetween]="10" [navigation]="true" [loop]="true">
                    <ng-template swiperSlide class="p1">
                        <div class="row rows">
                            <div class="logo-slide">
                                <img src="../../assets/medias/partners/Groupe_dpse_logotype_nouvelle_version_pour_site_web-270x300.png" alt="partner logo">
                            </div>
                            <div class="cover-slide">
                                <div class="row">
                                    <h6> GROUPE DPSE </h6>
                                    <p>
                                        Premier cabinet en Côte d'Ivoire expert en protection des données à caractère personnel <br>
                                        <span><a href="https://www.groupedpse.com/">www.groupedpse.com</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="p2">
                        <div class="row rows">
                            <div class="logo-slide">
                                <img src="../../assets/medias/partners/wac.png" class="wac" alt="partner logo">
                            </div>
                            <div class="cover-slide">
                                <div class="row">
                                    <h6> WAC SERVICE </h6>
                                    <p>
                                        Working in homologation and certification services in Africa, covering more than 100 countries in the World. <br>
                                        <span><a href="https://www.groupedpse.com/">www.wacservice.com</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="p3">
                        <div class="row rows">
                            <div class="logo-slide">
                                <img src="../../assets/medias/partners/isao.png" alt="partner logo">
                            </div>
                            <div class="cover-slide">
                                <div class="row">
                                    <h6> ISAO </h6>
                                    <p>
                                        Your partner in Africa for a global, integrated and profit-generating risk management. <br>
                                        <span><a href="https://www.isao-ltd.com/">www.isao-ltd.com</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="p4">
                        <div class="row rows">
                            <div class="logo-slide">
                                <img src="../../assets/medias/partners/agiloya.png" alt="partner logo">
                            </div>
                            <div class="cover-slide">
                                <div class="row">
                                    <h6> AGILOYA AFRIQUE </h6>
                                    <p>
                                        Moteur de la marque employeur : le recrutement, la gestion des talents, le conseil RH et Management <br>
                                        <span><a href="https://www.agiloyaafrique.com/">www.agiloyaafrique.com</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
</div>