<div class="container-fluid">
    <div class="row">
        <div class="Coverage-blc logo-block">
            <img src="../../assets/icons/Blooraid_Consortium_Logo3.png" alt="logo">
        </div>
        <div class="Buttons">
            <button class="btn gerance"> Gérance </button>
            <button class="btn dev"> Développement </button>
            <button class="btn cyber"> Cybersécurité </button>
            <button class="btn market"> Marketing </button>
        </div>
        <div class="Swipers">
            <div class="row">
                <!-- SWIPER GERANCE          -->
                <swiper effect="coverflow" [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="3" [coverflowEffect]="{rotate: 0, stretch: 0, depth: 100,
                    modifier: 2, slideShadows: true}" [spaceBetween]="10" [navigation]="true" [loop]="true" class="Swips Gerance">
                    <ng-template swiperSlide class="g1">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Stéphane GOUROU </h6>
                                <p> Associé - Gérant </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="g2">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Rosemonde KOUADIO </h6>
                                <p> Directrice administrative et financière </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="g3">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Detorcy DIO </h6>
                                <p> Responsable contrôle qualité </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="g4">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Hans-Lie ANOMA </h6>
                                <p> Responsable juridique </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="g5">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Orpah DJAVA </h6>
                                <p> Assistante de directtion </p>
                            </div>
                        </div>
                    </ng-template>
                </swiper>

                <!-- SWIPER DEVELOPPEUR -->
                <swiper effect="coverflow" [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="3" [coverflowEffect]="{rotate: 0, stretch: 0, depth: 100,
                    modifier: 2, slideShadows: true}" [spaceBetween]="10" [navigation]="true" [loop]="true" class="Swips Dev">
                    <ng-template swiperSlide class="d1">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Etienne DIBI </h6>
                                <p> Responsable développement et chef projet innovation </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="d2">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Mariette ASSALÉ </h6>
                                <p> Développeuse front-end </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="d3">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Franck KOSSONOU </h6>
                                <p> Développeur fullstack </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="d4">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Eliphase BLETRO </h6>
                                <p> Développeur mobile </p>
                            </div>
                        </div>
                    </ng-template>
                </swiper>

                <!-- SWIPER CYBERSECURITE -->
                <swiper effect="coverflow" [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="3" [coverflowEffect]="{rotate: 0, stretch: 0, depth: 100,
                    modifier: 2, slideShadows: true}" [spaceBetween]="10" [navigation]="true" [loop]="true" class="Swips Cyber">
                    <ng-template swiperSlide class="c1">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Wilfried CORÉ </h6>
                                <p> Responsable Cybersécurité </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="c2">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Davis OLOUCHY </h6>
                                <p> Auditeur Système d'information </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="c3">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Eliot JAMES </h6>
                                <p> Responsable cyber prevention training </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="c4">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Wilfried YAVO </h6>
                                <p> Auditeur Système d'information </p>
                            </div>
                        </div>
                    </ng-template>
                </swiper>

                <!-- SWIPER MARKETING -->
                <swiper effect="coverflow" [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="3" [coverflowEffect]="{rotate: 0, stretch: 0, depth: 100,
                    modifier: 2, slideShadows: true}" [spaceBetween]="10" [navigation]="true" [loop]="true" class="Swips Market">
                    <ng-template swiperSlide class="m1">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Nadia TRAORÉ </h6>
                                <p> consultante commerciale </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="m2">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Yann YEMAN </h6>
                                <p> Responsable communication visuelle </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="m3">
                        <div class="cover-slide">
                            <div class="row">
                                <h6> Sekouba DIOMANDÉ </h6>
                                <p> Consultant commercial </p>
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
</div>
