@import "../../app/partials/utils/variables";

.container-fluid {
    width: $full-percent;
    height: $full-vh;
    @include centered;
    padding: $null;
    .row {
        width: $full-percent;
        height: $full-percent;
        @include centered;
        margin: $null;
    }
}
//LOGO BLOC 1
.Coverage-blc {
    width: $full-percent;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $silver;
    height: 160px;
    width: 160px;
    padding: 25px;
    @include centered;
    img {
        cursor: pointer;
        height: 120px;
    }
}
//BUTTONS BLOC 2
.Buttons {
    width: $full-percent;
    text-align: center;
    @include centered;
    .btn {
        width: 200px;
        border: 1px solid $silver;
        border-radius: 5px;
        color: $text-color;
        font-family: $family-light;
        margin-left: 10px;
    }
    .gerance {
        background: $principal-gradient;
        color: $white;
        font-family: $family-bold;
    }
}
//SWIPERS BLOC 3
.Swipers {
    height: 50vh;
    width: $full-percent;
    padding: $null;
    .row {
        height: $full-percent;
        width: $full-percent;
        margin: $null;
        .swiper{
            width: $full-percent;
            height: $full-percent;
            @include centered;
            .swiper-slide{
                @include centered;
                background: none;
                padding: $null;
                width: $full-percent;
                height: $full-percent;
                filter: blur(2.5px);
                .cover-slide {
                    height: 100px;
                    width: 55%;
                    border-radius: 5px;
                    position: relative;
                    text-align: center;
                    @include centered;
                    top: 8vh;
                    border: 1px solid $silver;
                    background: white;
                    margin: $null;
                    display: none;
                    h6 {
                        font-family: $family-bold;
                        color: $black;
                        margin-top: 20px;
                    }
                    p {
                        color: $text-color;
                        line-height: 19px;
                    }
                }
            }
            .g1 {
                background: url("../../assets/medias/teams/gerance/banner-01.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            //GERANCE
            .g2 {
                background: url("../../assets/medias/teams/gerance/Rose.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            .g3 {
                background: url("../../assets/medias/teams/gerance/team6.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            .g4 {
                background: url("../../assets/medias/teams/gerance/team4.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            .g5 {
                background: url("../../assets/medias/teams/gerance/Image2.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            //DEVEOPPEMENT
            .d1 {
                background: url("../../assets/medias/teams/developpement/Image4.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            .d2 {
                background: url("../../assets/medias/teams/developpement/assale.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            .d3 {
                background: url("../../assets/medias/teams/developpement/Image1.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            .d4 {
                background: url("../../assets/medias/teams/developpement/Image5.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            //CYBERSECURITE
            .c1 {
                background: url("../../assets/medias/teams/cybersecurite/team3.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            .c2 {
                background: url("../../assets/medias/teams/cybersecurite/Photo_Davis1-removebg-preview.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            .c3 {
                background: url("../../assets/medias/teams/cybersecurite/Image.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            .c4 {
                background: url("../../assets/medias/teams/cybersecurite/Image5.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            //MARKETING
            .m1 {
                background: url("../../assets/medias/teams/marketing/Image3.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            .m2 {
                background: url("../../assets/medias/teams/marketing/team4.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }
            .m3 {
                background: url("../../assets/medias/teams/marketing/team5.png");
                background-size: contain;
                background-position: center;
                background-repeat: $no-repeat;
                width: $full-percent;
                height: $full-percent;
            }


            .swiper-slide-active{
                filter: blur(0px);
                width: 92%;
                height: 92%;
                .cover-slide {
                    display: block;
                }
            }

            .swiper-button-prev, .swiper-button-next {
                color: $text-color;
                background: white;
                height: 40px;
                width: 40px;
                border-radius: 100%;
                border: 1px solid $silver;
                box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                &::after, &::after{
                    font-size: 15px!important;
                }
            }

            .swiper-button-prev {
                margin-left: 40px;
            }
            .swiper-button-next {
                margin-right: 40px;
            }
        }
        .Dev, .Cyber, .Market{
            display: none;
        }
        .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right {
            background-image: none;
        }
    }
}