@import "../../app/partials/utils/variables";

.container-fluid {
    width: $full-percent;
    height: $full-vh;
    @include centered;
    padding: $null;
    overflow: hidden;
    .row {
        width: $full-percent;
        height: $full-percent;
        @include centered;
        margin: $null;
    }
}
//LOGO BLOC 1
.Coverage-blc {
    width: $full-percent;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $silver;
    height: 130px;
    width: 130px;
    padding: 25px;
    @include centered;
    margin-top: 5vh;
    img {
        cursor: pointer;
        height: 100px;
    }
}
//BUTTONS BLOC 2
.Buttons {
    width: $full-percent;
    text-align: center;
    @include centered;
    margin-top: 4vh;
    .btn {
        width: 200px;
        border: 1px solid $silver;
        border-radius: 5px;
        background: $principal-gradient;
        color: $white;
        font-family: $family-bold;
        margin-left: 10px;
    }
}
//SWIPERS BLOC 3
.Swipers {
    height: 65vh;
    width: $full-percent;
    padding: $null;
    margin-top: 8vh;
    .row {
        height: $full-percent;
        width: $full-percent;
        margin: $null;
        .swiper{
            width: $full-percent;
            height: $full-percent;
            @include centered;
            .swiper-slide{
                @include centered;
                background: none;
                padding: $null;
                width: $full-percent;
                height: $full-percent;
                filter: blur(2.5px);
                .row{
                  padding: 0;
                  margin: 0;
                  width: $full-percent;
                  height: $full-percent;
                  .image-collab {
                    padding: 0;
                    margin: 0;
                    width: $full-percent;
                    height: $full-percent;
                    @include centered;
                    img {
                      width: 72%;
                      margin-top: -3vh;
                    }
                  }
                  .info-collab {
                    height: auto;
                    width: 85%;
                    border-radius: 5px;
                    position: relative;
                    text-align: center;
                    @include centered;
                    border: 1px solid $silver;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                    background: white;
                    margin: $null;
                    margin-top: -40vh;
                    padding: 10px;
                    display: none;
                    h6 {
                      font-family: $family-bold;
                      font-size: 1.1rem;
                      color: $black;
                      margin-top: 20px;
                    }
                    p {
                      color: $text-color;
                      line-height: 19px;
                      font-size: $size-small;
                      margin-top: 10px;
                    }
                  }
                }
            }

          .swiper-slide-active{
              filter: blur(0px);
              width: $full-percent;
              height: $full-percent;
              margin-top: -4vh;
              .cover-slide {
                display: block;
              }
              .row {
                .info-collab {
                  display: flex;
                }
              }
          }

            .swiper-button-prev, .swiper-button-next {
                color: $text-color;
                background: white;
                height: 40px;
                width: 40px;
                border-radius: 100%;
                border: 1px solid $silver;
                box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                &::after, &::after{
                    font-size: 15px!important;
                }
            }

            .swiper-button-prev {
                margin-left: 40px;
            }
            .swiper-button-next {
                margin-right: 40px;
            }
        }
        .swip-mobile {
          display: none;
        }
        .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right {
            background-image: none;
        }
    }
}

//MENUS
.coverage-menu {
    border: 2px solid $silver;
    border-radius: 5px;
    background: white;
    position: fixed;
    width: 20%;
    height: 90vh;
    top: 5vh;
    left: 40%;
    z-index: 10;
    display: none;
    .row {
      .bi-x{
        margin-top: 3vh;
        cursor: pointer;
      }
      .logo-block {
        text-align: center;
        border-radius: 50%;
        border: 1px solid $silver;
        height: 180px;
        width: 180px;
        padding: 25px;
        margin-bottom: 2vh;
        margin-top: 2vh;
        @include centered;
        img {
          cursor: pointer;
          width: 80px;
        }
      }
      .texts-block {
          @include centered;
          margin-bottom: 5vh;
          text-align: center;
          .row {
              width: $full-percent;
              @include centered;
              h6 {
                  font-family: $family-medium;
                  cursor: pointer;
                  a{
                    text-decoration: none;
                    color: $text-color;
                }
              }
              p {
                  text-align: center;
                  svg {
                      margin-right: 10px;
                      cursor: pointer;
                  }
              }
              .p2 {
                  font-size: 0.6rem;
                  margin-top: 2vh;
                  padding-left: 0px;
              }
          }
      }
    }
}


/*/ ---------------------------------------------------------- RESPONSIVE DESIGN (MAX WIDTH: 1200PX) --------------------------------------------------------------/*/
@media screen and (max-width: 1200px) {

  //SWIPERS BLOC 3
  .Swipers {
    height: 75vh;
    margin-top: 5vh;
    .row {
      .swiper{
        .swiper-slide{
          .row{
            .image-collab {
              img {
                width: 80%;
                margin-top: -3vh;
              }
            }
            .info-collab {
              height: 100px;
              width: 85%;
              margin-top: -55vh;
              p {
                margin-top: 0px;
              }
            }
          }
        }
      }

    }
  }

  //MENUS
  .coverage-menu {
    width: 28%;
    left: 36%;
    .row {
      .logo-block {
        height: 165px;
        width: 165px;
      }
    }
  }
}


/*/ ---------------------------------------------------------- RESPONSIVE DESIGN (MAX WIDTH: 992PX) --------------------------------------------------------------/*/
@media screen and (max-width: 992px) {

  //SWIPERS BLOC 3
  .Swipers {
    height: 85vh;
    margin-top: 0vh;
    .row {
      .swiper{
        .swiper-slide{
          .row{
            .image-collab {
              img {
                width: 92%;
                margin-top: -3vh;
              }
            }
            .info-collab {
              height: 100px;
              width: $full-percent;
              margin-top: -65vh;
              p {
                margin-top: 0px;
              }
            }
          }
        }
      }

    }
  }

  //MENUS
  .coverage-menu {
    width: 35%;
    left: 32.5%;
    .row {
      .logo-block {
        height: 160px;
        width: 160px;
      }
    }
  }
}


/*/ ---------------------------------------------------------- RESPONSIVE DESIGN (MAX WIDTH: 768PX) --------------------------------------------------------------/*/
@media screen and (max-width: 768px) {

  //SWIPERS BLOC 3
  .Swipers {
    height: 95vh;
    margin-top: -5vh;
    .row {
      .swiper{
        .swiper-slide{
          .row{
            .image-collab {
              img {
                width: $full-percent;
                margin-top: -3vh;
              }
            }
            .info-collab {
              height: 100px;
              width: $full-percent;
              margin-top: -75vh;
              p {
                margin-top: 0px;
              }
            }
          }
        }
      }

      .swip-pc {
        display: none;
      }
      .swip-mobile {
        display: block;
      }

    }
  }

  //MENUS
  .coverage-menu {
    width: 50%;
    left: 25%;
    .row {
      .logo-block {
        height: 150px;
        width: 150px;
      }
    }
  }
}
