@mixin background-image {
    background-repeat: $no-repeat;
    width: $full-percent;
    height: $full-vh;
    overflow: $no-overflow;
}

@mixin centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin started {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

@mixin ended {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
