/* déclaration des imports */
@import "../utils/mixins";

/* les couleurs du site */
$text-color: #575252;
$silver: #EAECEE;
$silver-2: #F8F9F9;

$black: #0D0D0D;
$black-rgba: rgba(13, 13, 13, 1);

$dark: #26313c;
$dark-rgba: rgba(38,49,60,255);

$dark2: #212428;
$dark2-rgba: rgba(33,36,40,255);

$white: #F2F2F2;
$white-rgba: rgba(242, 242, 242, 1);

$violet: #73378C;
$violet-rgba: rgba(115, 55, 140, 1);

$pink: #F21B7F;
$pink-rgba: rgba(242, 27, 127, 1);

$pink2: #BF267A;
$pink2-rgba: rgba(191, 38, 122, 1);

$principal-gradient: linear-gradient(90deg, #73378C, #BF267A);
$second-gradient: linear-gradient(75deg, #73378C, #BF267A);
$third-gradient: linear-gradient(100deg, #BF267A, #73378C);



//COCODY PHILADELPHIE LOGO COLOR
$phil-yellow:#b39a4a;
$phil-yellow-rgba: rgba(179, 154, 74, 1);

$phil-brown:#562c2e;
$phil-brown-rgba: rgba(86, 44, 46, 1);

$phil-black:#000000;
$phil-black-rgba: rgba(0, 0, 0, 1);

$phil-white:#ffffff;
$phil-white-rgba: rgba(255, 255, 255, 255);

$phil-blue: #2f557f;
$phil-blue-rgba: rgba(47,85,127,255);

$bgaffiche: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(69,35,37,1) 100%, rgba(86,44,46,1) 100%);
$bgdarkbrown: #0c0707;


$posterbg1: #202022;
$posterbg2: #222224;



/* les dimensions, taille et poids de base */
$full-percent: 100%;
$full-vh: 100vh;

$italic: italic;
$normal: normal;
$bold: bold;

$null: 0;
$no-overflow: hidden;
$no-repeat: no-repeat;

$size-normal: 1rem;
$size-small: 0.9rem;
$size-small-lg: 0.7rem;
$size-middle: 1.6rem;
$size-middle-lg: 1.3rem;
$size-lg-great: 2.3rem;
$size-great: 2.7rem;
$size-xl-great: 3rem;


/* les polices d'ecriture */
$family-normal: 'normal';
$family-light: 'light';
$family-italic: 'italic';
$family-medium: 'medium';
$family-bold: 'bold';
$family-space: 'space';
