<!-- BLOC 1 -->
<div class="container bloc-1">
    <div class="row">
        <div class="col-6 content content-left">
            <div class="row">
                <div class="logo-block">
                    <div class="div"><img src="../../assets/icons/Blooraid_Consortium_Logo3.png" alt="logo"></div>
                </div>
                <div class="buttons">
                    <button class="btn text1"><h1>CyberPreventionTraining </h1></button>
                    <button class="btn text2"><h1>Choisis Ton Coffret</h1></button> <br>
                    <button class="btn text3"><h1>Forme Toi</h1></button>
                </div>
                <div class="texts">
                    <p>
                        On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6 content content-image"></div>
    </div>
</div>

<!-- BLOC 2 -->
<div class="container bloc-2">
    <div class="row">
        <div class="button">
            <button class="btn text1"><h4>DECOUVREZ NOS COFFRETS DE FORMATION</h4></button>
        </div>
        <div class="coffrets">
            <swiper [slidesPerView]="3" [spaceBetween]="10" [navigation]="true" class="animate__animated animate__fadeIn">
                <ng-template swiperSlide>

                </ng-template>
                <ng-template swiperSlide>

                </ng-template>
                <ng-template swiperSlide>

                </ng-template>
                <ng-template swiperSlide>

                </ng-template>
                <ng-template swiperSlide>

                </ng-template>
                <ng-template swiperSlide>

                </ng-template>
                <ng-template swiperSlide>

                </ng-template>
                <ng-template swiperSlide>

                </ng-template>
            </swiper>
        </div>
    </div>
</div>

<!-- BLOC 3 -->
<div class="container bloc-3">
    <div class="row">
        <div class="button">
            <button class="btn text1"><h4>TOUT SAVOIR SUR LE PROGRAMME TRAINING</h4></button>
        </div>
        <div class="coffrets videos">
            <div class="row">
                <p>
                    On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions,
                    et empêche de se concentrer sur la mise en page elle-même. Longtemps que lisible.
                </p>
                <video src="../../assets/medias/products/cptraining/introduction.mp4" width="100%" controls></video>
            </div>
        </div>
    </div>
</div>

