@import "../../app/partials/utils/variables";

//BLOC 1
.bloc-1 {
    height: $full-vh;
    width: 85%;
    padding: $null;
    @include centered;
    .row {
        width: $full-percent;
        height: $full-percent;
        margin: $null;
        @include centered;
        .content-left {
            @include started;
            height: $full-percent;
            .logo-block {
                .div {
                    border-radius: 50%;
                    border: 1px solid $silver;
                    height: 160px;
                    width: 160px;
                    padding: 25px;
                    @include centered;
                    img {
                        cursor: pointer;
                        height: 120px;
                    }
                }
            }
            .buttons {
                button {
                    background: $principal-gradient;
                    color: $white;
                    font-family: $family-bold;
                    margin-bottom: 5px;
                }
            }
            .texts {
                @include started;
                p {
                    width: 85%;
                    font-size: 1.2rem;
                }
            }
        }
        .content-image {
            height: 90%;
            margin-top: 15vh;
            background: url('../../assets/backgrounds/Image01\ \(1\).png');
            background-size: contain;
            background-repeat: $no-repeat;
            background-position: center;
        }
    }
}

//BLOC 2
.bloc-2{
    overflow-y: $no-overflow;
    height: 80vh;
    margin-top: 10vh;
    padding: $null;
    @include centered;
    .row {
        width: $full-percent;
        height: $full-percent;
        margin: $null;
        @include centered;
        .button {
            width: $full-percent;
            @include centered;
            button {
                background: $principal-gradient;
                color: $white;
                font-family: $family-bold;
                margin-bottom: 5px;
            }
        }
        .coffrets {
            width: $full-percent;
            @include centered;
            //SWIPER IN ACCORDION
            .swiper{
                width: $full-percent;
                margin: $null;
                padding: $null;
                margin-top: -10vh;
                height: 350px;
                @include centered;
                .swiper-slide{
                    @include centered;
                    height: $full-percent;
                    border: 2px solid $silver;
                    padding: $null;
                    padding: $null;
                    border-radius: 10px;
                }

                .swiper-button-prev, .swiper-button-next {
                    color: $text-color;
                    background: white;
                    height: 40px;
                    width: 40px;
                    border-radius: 100%;
                    border: 1px solid $silver;
                    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                    &::after, &::after{
                        font-size: 15px!important;
                    }
                }

                .swiper-button-prev {
                    margin-left: 0px;
                }
                .swiper-button-next {
                    margin-right: 0px;
                }
            }
            .swip-mobile {
              display: none;
            }
        }

    }
}

//BLOC 3
.bloc-3 {
    overflow: $no-overflow;
    width: $full-percent;
    padding: $null;
    margin-top: 5vh;
    margin-bottom: 5vh;
    @include centered;
    .button {
        width: $full-percent;
        @include centered;
        button {
            background: $principal-gradient;
            color: $white;
            font-family: $family-bold;
            margin-bottom: 5px;
        }
    }
    .coffrets {
        width: $full-percent;
        @include centered;
        .row{
            width: 70%;
            @include centered;
            p {
                font-size: 1.2rem;
                margin-top: 5vh;
            }
            video {
                border: 2px solid $silver;
                border-radius: 5px;
                padding: 20px;
                margin-top: 5vh;
            }
        }
    }
}

.coverage-menu {
  border: 3px solid $silver;
  border-radius: 5px;
  background: white;
  position: fixed;
  width: 20%;
  height: 90vh;
  top: 5vh;
  left: 8%;
  z-index: 10;
  display: none;
  .row {
    @include centered;
    .bi-x{
      margin-top: 3vh;
      cursor: pointer;
    }
    .logo-block {
      text-align: center;
      border-radius: 50%;
      border: 1px solid $silver;
      height: 180px;
      width: 180px;
      padding: 25px;
      margin-bottom: 2vh;
      margin-top: 2vh;
      @include centered;
      img {
        cursor: pointer;
        width: 80px;
      }
    }
    .texts-block {
        @include centered;
        margin-bottom: 5vh;
        text-align: center;
        .row {
            width: $full-percent;
            @include centered;
            h6 {
                font-family: $family-medium;
                cursor: pointer;
                a{
                  text-decoration: none;
                  color: $text-color;
              }
            }
            p {
                text-align: center;
                svg {
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
            .p2 {
                font-size: 0.6rem;
                margin-top: 2vh;
                padding-left: 0px;
            }
        }
    }
  }
}


/*/ ---------------------------------------------------------- RESPONSIVE DESIGN (MAX WIDTH: 1200PX) --------------------------------------------------------------/*/
@media screen and (max-width: 1200px) {
  //
  .bloc-1{
    width: 90%;
    .row {
      .content-left {
        .buttons {
            button {
              h1 {
                font-size: $size-lg-great;
              }
            }
        }
        .texts {
            p {
              font-size: 1rem;
            }
        }
      }
      .content-image {
        height: $full-percent;
        margin-top: 12vh;
      }
    }
  }

  //
  .bloc-3 {
    .row {
      .coffrets {
        .row{
          width: 85%;
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }

  //MENUS
  .coverage-menu {
    width: 25%;
    .row {
      .logo-block {
        height: 160px;
        width: 160px;
      }
    }
  }
}

/*/ ---------------------------------------------------------- RESPONSIVE DESIGN (MAX WIDTH: 992PX) --------------------------------------------------------------/*/
@media screen and (max-width: 992px) {

  //
  .bloc-1{
    width: $full-percent;
    .row {
      .content-left {
        .buttons {
          button {
            h1 {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  //
  .bloc-3 {
    .row {
      .coffrets {
        .row{
          width: $full-percent;
        }
      }
    }
  }

  //MENUS
  .coverage-menu {
    width: 30%;
    left: 2%;
  }
}


/*/ ---------------------------------------------------------- RESPONSIVE DESIGN (MAX WIDTH: 768PX) --------------------------------------------------------------/*/
@media screen and (max-width: 768px) {

  //
  .bloc-1{
    .row {
      .content-left {
        text-align: center;

        .logo-block {
          @include centered;
        }

        .buttons {
            margin-left: -5%;
            button {
              h1 {
                font-size: $size-lg-great;
              }
            }
        }
        .texts {
          @include centered;
            p {
              font-size: 1rem;
              text-align: center;
            }
        }
      }
      .content-image {
        display: none;
      }
    }
  }

  .bloc-2 {
    margin-top: 5vh;
    .row {
      .coffrets {
        .swip-pc {
          display: none;
        }
        .swip-mobile {
          display: block;
        }
      }
    }
  }

  //MENUS
  .coverage-menu {
    width: 40%;
    left: 30%;
    .row {
      .logo-block {
        height: 150px;
        width: 150px;
      }
    }
  }
 }
